@mixin btnTransition($duration) {
	-webkit-transition: all $duration;
	-moz-transition: all $duration;
	-ms-transition: all $duration;
	-o-transition: all $duration;
	transition: all $duration;
}

.del-btn {
	background: #fff url("../../img/imgdelete_btn.png") no-repeat center;
	background-size: 70%;
	cursor: pointer;
	display: block;
	width: 55px;
	height: 67px;
	@include btnTransition(.35s);
	&:hover {
		opacity: 0.8;
	}
}
